#
# Auto Merge Dependabot PRs
#
name: Auto Merge

# Controls when the action will run.
on:
  pull_request:

concurrency:
  # Use the name of the triggering workflow run as the concurrency group to avoid conccurency issues
  group: ${{ github.workflow }}_${{ github.event.workflow_run.head_branch || github.ref_name || github.run_id }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    if: ${{ github.actor == 'dependabot[bot]'}}
    name: '▶️ actions'
    uses: eviden-actions/actions/.github/workflows/dependabot.yml@v3
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN  }}
